@import url('https://fonts.googleapis.com/css2?family=Festive&display=swap');
@import url('https://fonts.googleapis.com/css2?family=El+Messiri&family=Festive&display=swap');

body {
  background-image: url('microphone.jpg');
}

h1 {
  font-family: 'Festive', cursive;
  font-size: 60px;
  font-weight: 400;
  color: rgb(127, 237, 245);
}

p {
  font-size: x-large;
  font-family: 'El Messiri', sans-serif;
  padding-left: auto;
  color: white;
}

div.container{
  text-align: center;
  display: flexbox;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 330px 0;
}

.button1{
  font-family: 'El Messiri', sans-serif;
  color: white;
  transition-duration: 0.4s;
  text-decoration: none;
  font-size: 15px; 
  align-items: center;
  padding: 10px;
  margin: 2px;
  display: inline-block;
  border-style: double;
  background-color: black;
  border-radius: 25px;
}

.button1:hover{
  color: white;
  background-color: rgb(134, 38, 172);
  box-shadow: 0 8px 16px 0 rgba(red, green, blue, alpha);
}
